@import "components";
@import "foundation/components/block-grid";
@import "foundation_and_overrides";
@import "font-awesome";


.alert-box {
  background: $primary-color;
  padding: .5rem;
  margin-bottom: 0;
  font-family: sans-serif;
  font-size: 1.1rem;
  color: $black;
}

.header {
  text-align: center;
  background: image-url('watercolour-world-map.jpg') no-repeat center center;
  background-size: cover;
  padding: 4rem;

  section ul {
    position: relative;
    list-style-type: none;
    padding: 1rem;
    float: right;
    margin-top: -4rem;
    margin-right: -2rem;
    // font-family: sans-serif;
  }

  section ul a {
    color: $oil;
    float: none;
    display: inline-block;
    background: rgba(250,250,250,0);
    margin-right: -1rem;
    padding: 1rem;

    &:hover {
      background: rgba(250,250,250,0.7);
      color: $secondary-color;
      transition: all .25s ease-in-out;
    }
  }

  #user-session-spacer {
    padding: 3rem;
    margin-left: 2rem;
  }
  .main-header a {
    color: $black;
    background: rgba(250,250,250,0.7);
    padding: 1rem;
    margin-top: 10rem;
    margin-right: -8rem;


    &:hover {
      background: $oil;
      color: $primary-color;
      transition: all .25s ease-in-out;
    }
  }

}

.header-subnav {
  float: none;
  position: relative;
  top: 4rem;
  text-align: center;
  font-family: courier, sans-serif;
  margin-bottom: 0;

  li {
    float: none;
    display: inline-block;
    background-color: rgba(250,250,250,0.7);

    a {
      padding: 0.9rem 1rem 0.75rem;
      font-size: 1rem;
      color: $black;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;

      &:hover {
        color: $secondary-color;
        transition: all .25s ease-in-out;
      }

      &.is-active {
        background-color: $white;
        color: $third-color;
      }
    }

    a.nav-link-padding {
      padding: 0;
    }
  }
}

.adventures-search {
  width: 70%;
  margin-left: 20%;
  margin-right: 0;

  input {
    width: 60%;
    height: 3rem;
    display: inline-block;
  }

  a .button {
    margin-top: 2.5rem;
    width: 13rem;
    margin-left: -.599rem;
    border-color: $base;

  }
}

.welcome {
  font-family: sans-serif;
  width: 70%;
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;

  style {
    color: $charcoal;
  }

  i {
    color: $charcoal;
  }
}

.grid-groups li {
  @include block-grid(
    $per-row: 5,
    $spacing: $block-grid-default-spacing,
    $base-style: true
  );

  margin: 1%;
}

div.wrap-title-and-description {
  padding: 2rem 2rem .5rem 2rem;
  margin: 0;
  background-color: rgba(250,250,250,0.7);

  p.description {
    margin: 0;
  }

}

div.wrap-is-public {
  padding: .5rem 2rem 2rem 2rem;
  background-color: rgba(250,250,250,0.7);
  font-size: 1rem;
}

// ul.grid-groups li:hover a {
//   display: inline-block;
//   width: 100%;
//   background-color: rgba(20, 130, 133, 0.4);
// }


.display-groups {
  font-family: sans-serif;
  margin: 3%;

  a {
    color: black;
  }

  li h4 {
    text-align: center;
    text-weight: bold;
  }

//   span a {
//     color: $oil;
//     text-align: left;
//     font-size: 1rem;
//
//
//   }
}

span.tiny-button {
  color: $oil;
  text-align: right;
}

p.tiny-button {
  margin: 0;
  padding: 0;
}

.button {
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: center;
  border-width: 1px;
  border-color: $base;
  color: $black;

  &:hover {
    background-color: rgba(223, 25, 173, 0.55);
    color: $black;
    font-weight: bold;
    transition: all .25 ease-in-out;
  }
}

.hero {
  // background: image-url('watercolour-world-map.jpg') no-repeat center center;
  // background-size: cover;
  // height: 25%;
  // overflow: hidden;
  // margin-bottom: 3em;
}


.form-actions {
  margin-top: 2rem;
}

.form-title {
  margin-bottom: 1.5rem;
}

.divinding-line {
  border-bottom: 1px $iron solid;
  margin-bottom: 1.25rem;
}

.bucket-list {
  color: $dark-grey;

  h6 {
    font-size: 90%;
    color: $jet;
    margin-bottom: .75rem;
  }

  h2,
  h4 {
    margin-bottom: 0;
  }
}

.adventure-list {
  color: $dark-grey;

  h6 {
    font-size: 90%;
    margin-bottom: 1.25rem;
  }

  p {
    margin: 0;
  }

  .divinding-line {
    margin-top: 1.25rem;
  }
}

.adventure {
  color: $dark-grey;

  h6 {
    font-size: 85%;
  }

  .divinding-line {
    margin-top: 1.25rem;
  }

  p {
    margin: 0;
  }
}


.is-achieved-toggle {
  float: right;
}

.map-spacer {
  padding-bottom: 8px;
}

.map-container {
  height: 400px;
  border-radius: 16px 16px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  margin-top: 25px;
  border-width: 7px;
}

#map-canvas {
  height: 384px;
  width: 100%;
}

#map-canvas-multi-markers {
  height: 384px;
  width: 100%;
}
