@import "components";
@import "foundation/components/block-grid";
@import "foundation_and_overrides";
@import "font-awesome";


.alert-box {
  background: $primary-color;
  padding: .5rem;
  margin-bottom: 0;
  font-family: sans-serif;
  font-size: 1.1rem;
  color: $black;
}

.header {
  text-align: center;
  background: image-url('watercolour-world-map.jpg') no-repeat center center;
  background-size: cover;
  padding: 4rem;

  section ul {
    position: relative;
    list-style-type: none;
    padding: 1rem;
    float: right;
    margin-top: -4rem;
    margin-right: -2rem;
  }

  section ul a {
    color: $oil;
    float: none;
    display: inline-block;
    background: rgba(250,250,250,0);
    margin-right: -1rem;
    padding: 1rem;

    &:hover {
      background: rgba(250,250,250,0.7);
      color: $secondary-color;
      transition: all .25s ease-in-out;
    }
  }

  #user-session-spacer {
    padding: 3rem;
    margin-left: 2rem;
  }

  .main-header a {
    color: $black;
    background: rgba(250,250,250,0.7);
    padding: 1rem;
    margin-top: 10rem;
    margin-right: -8rem;


    &:hover {
      background: $oil;
      color: $primary-color;
      transition: all .25s ease-in-out;
    }
  }
}

.header-subnav {
  float: none;
  position: relative;
  top: 4rem;
  text-align: center;
  font-family: courier, sans-serif;
  margin-bottom: 0;
  margin-left: 10%;
  margin-right: 10%;

  li {
    float: none;
    display: inline-block;
    background-color: rgba(250,250,250,0.7);

    a {
      padding: 0.9rem 1rem 0.75rem;
      font-size: 1rem;
      color: $black;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;

      &:hover {
        color: $secondary-color;
        transition: all .25s ease-in-out;
      }

      &.is-active {
        background-color: $white;
        color: $third-color;
      }
    }

    a.nav-link-padding {
      padding: 0;
    }
  }
}

.center-content {
  clear: both;
  float: none;
  width: 84%;
  margin-left: 8%;
  margin-right: 8%;
  padding: 0;
  align-content: center;
}

.adventures-search {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  align-content: center;

  input {
    width: 60%;
    height: 3rem;
    display: inline-block;
    margin-left: 8%;
  }

  a .button {
    margin-top: 2.5rem;
    width: 13rem;
    margin-left: -.599rem;
    border-color: $base;
  }
}

.welcome {
  font-family: sans-serif;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  align-self: center;

  style {
    color: $charcoal;
  }

  i {
    color: $charcoal;
  }
}

// bucket-list index page

.display-groups {
  margin: 0;
  padding: 0;
}

.grid-groups li {
  @include block-grid(
    $per-row: 4,
    $spacing: $block-grid-default-spacing,
    $base-style: true
  );

  margin: 0;
  padding: 1%;
}

div.wrap-title-and-description {
  padding: 1.5rem 2rem .5rem 2rem;
  margin: 0;
  background-color: rgba(250,250,250,0.7);
  height: 250px;

  h4 {
    font-weight: bolder;
    color: $secondary-color;
  }

  p.description {
    margin: 0;
  }
}

div.wrap-title-and-description:hover a {
  display: inline-block;
  width: 100%;
}

div.wrap-title-and-description:hover {
  display: inline-block;
  width: 100%;
  background-color: rgba(20, 130, 133, 0.4);
  h4 {
    color: $third-color;
  }
}

div.wrap-is-public {
  padding: .6rem 2rem 1.5rem 2rem;
  background-color: rgba(250,250,250,0.7);
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 0;

  p.is-public-link {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: .9rem;
    text-align: right;
  }
}


div.wrap-is-public:hover a {
  display: inline-block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: .6rem;
  padding-bottom: .1rem;
  color: $black;
  font-weight: bold;

}

div.wrap-is-public:hover {
  display: inline-block;
  width: 100%;
  background-color: rgba(20, 130, 133, 0.4);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}

.display-groups {
  font-family: sans-serif;
  margin: 3%;

  a {
    color: black;
  }

  li h4 {
    text-align: center;
    text-weight: bold;
  }
}

span.tiny-button {
  color: $oil;
  text-align: right;
}

p.tiny-button {
  margin: 0;
  padding: 0;
}

.button {
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: center;
  border-width: 1px;
  border-color: $base;
  color: $black;

  &:hover {
    background-color: rgba(223, 25, 173, 0.55);
    color: $black;
    font-weight: bold;
    transition: all .25 ease-in-out;
  }
}


// new adventure page

.form-row {
  padding-top: 3%;
  padding-bottom: 3%;
  background: image-url('jungle-bridge-transparent.jpg') no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.form {
  background-color: rgba(250,250,250,0.7);
  padding: 2rem;

  label {
    font-size: 1rem;
  }
}

.form h4 {
  font-family: sans-serif;
  text-align: center;
  padding: 3%;
}

.form input.button {
  margin-left: 37.7%;
  margin-right: 37.7%;
  margin-bottom: 0;
  margin-top: .75rem;
  text-align: center;
}

div.checkboxes {
  text-align: center;
  line-height: 1.5rem;

  label {
    font-size: 1rem;
  }

  input {
    width: 1rem;
    height: 1rem;
    background-color: $white;
    margin-bottom: 0;
    padding-margin: px;
  }
}


// adventure show

.display-adventure {
  margin: 3%;
  color: $oil;
}

div.display-adventure h2 {
  text-align: center;
  color: $oil;
  font-weight: bold;

  &:hover a {
    color: $secondary-color;
    transition: all .25 ease-in-out;
  }
}

div.display-adventure a {
  color: $oil;
}

div.title-spacer {
  height: 30px;
}

.achieved-flag-or-checkbox a {
  float: left;
  padding-left: 1.5%;

  i {
    padding-right: 3px;
  }

  &:hover {
    color: $secondary-color;
    transition: all .25 ease-in-out;
  }
}

div.public-or-username {
  min-width: 15px;
  min-height: 0;
  float: right;
  padding-right: 1.5%;
}

.public-or-username a {
  float: right;
  padding-right: 1.5%;

  i {
    padding-right: 3px;
  }

  &:hover {
    color: $secondary-color;
    transition: all .25 ease-in-out;
  }
}

p.is-public-link {
  margin: 0;
}

p.is-achieved-link {
  margin: 0;
}

.is-achieved-link i {
  padding-right: 2.5px;
}


.small-button {
  text-align: center;
  font-weight: bold;
  color: $oil;
  padding: .5rem;
  background-color: $small-button-color;
  border: 1px solid $base;

  &:hover {
    background-color: $secondary-transparent-color;
    color: $oil;
    transition: all .25 ease-in-out;
  }
}


.map-spacer {
  padding-top: 8px;
  padding-bottom: 8px;
}

.map-container {
  height: 400px;
  border-color: $oil;
  border-style: solid;
  box-shadow: 2px 2px 10px $oil;
  margin-top: 25px;
  border-width: 9px;
}

#map-canvas {
  height: 384px;
  width: 100.05%;
  background-size: cover;
}

div.adventure-details {
  padding-left: 1.5%;
  padding-right: 1.5%;
}

div.display-adventure span.small-button {
  margin-left: 2.5px;
  margin-bottom: 0;
}

div.display-adventure a.small-button {
  font-family: courier;
  float: right;
  clear: both;
}

div.display-adventure-spacer {
  height: 15px;
  width: 1px;
  padding: 0;
  margin: 0;
}

p.adventure-notes {
  font-size: 1.2rem;
  margin-top: 45px;
  margin-bottom: 15px;
}

p.adventure-link {
  padding: 0;
  margin: 0;
}

p.adventure-link a {
  text-decoration: underline;
  color: blue;
  padding: 0;
  margin: 0;

  &:hover {
    color: $third-color;
    transition: all .25 ease-in-out;
  }

  &.is-active {
    color: $secondary-color;
  }
}


// new bucket list

form.button#new-bucket-list-submit {
  margin: 0;
}


// search results





// all_public adventures

div.all-public-adventures {
  color: $oil;

  ul li {
    height: 250px;
  }
}

#map-canvas-multi-markers {
  height: 384px;
  width: 100.05%;
}

div.wrap-user {
  display: inline-block;
  width: 100%;

  &:hover {
    display: inline-block;
    width: 100%;
    transition: all .25 ease-in-out;
  }
}

div.form-row {
  background: none;
}

section.display-all-public-adventures p {
  float: right;
}

section.display-all-public-adventures h4 {
  &:hover a {
    padding: 0;
    margin: 0;
    color: $third-color;
    transition: all .25 ease-in-out;
  }
}


// devise

a.devise-link {
  color: $secondary-color;

  &:hover {
    color: $third-color;
    transition: all .25 ease-in-out;
  }
}


// edit pages

div.delete a {
  color: $oil;
  padding: .5rem;
  background: rgba(250,250,250,0.7);
  border: 1px solid $base;

  &:hover {
    background-color: $secondary-color;
    transition: all .25 ease-in-out;
  }
}

div.required-field label {
  font-weight: bold;
  color: $jet;
}


.hero {
  // background: image-url('watercolour-world-map.jpg') no-repeat center center;
  // background-size: cover;
  // height: 25%;
  // overflow: hidden;
  // margin-bottom: 3em;
}


.form-actions {
  margin-top: 2rem;
}

.form-title {
  margin-bottom: 1.5rem;
  text-align: center;
}



.bucket-list {
  color: $dark-grey;

  h3 {
    text-align: center;
  }

  p.is-public-link {
    color: $oil;
  }
}

.adventure-list {
  color: $dark-grey;

  h6 {
    font-size: 90%;
    margin-bottom: 1.25rem;
  }

  p {
    margin: 0;
  }

}

// .adventure {
//   color: $dark-grey;
//
//   h6 {
//     font-size: 85%;
//   }
//
//   .divinding-line {
//     margin-top: 1.25rem;
//   }
//
//   p {
//     margin: 0;
//   }
// }
