<header class="header">
  <h1 class="main-header"><%= link_to "TravelGo", root_path %></h1>
  <ul class="header-subnav">
    <li><a href="#">Find Adventure</a></li>
    <li><a href="#" class="is-active">Create Adventure</a></li>
    <li><a target="_blank" href="http://zurb.com/responsive">Explore...</a></li>
    <li><a href="#">Navigate Your World</a></li>
  </ul>
</header>
